* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* box-sizing allows us to create padding within a box */
}

body {
  background-color: #d9dcd6;
  /* body which consists most of the HTML will have a background color of the hex code
  provided */
}

.header {
  position: sticky;
  top: 0%;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
  /* header is the navbar, position is set to sticky so the navbar sticks to the tops of the 
  webpage whilst the page is scrolling, top is set to 0% so the navbar is set to the top of the
  webpage.  */
}

.header h1 {
  display: inline-block;
  font-size: 48px;
  /* the h1 text will be displayed where the top and bottom margins are respected compared
  to display-inline which they are not.  */
}

.header h1 {
  color: #d9dcd6;
  /* Colour is set for text */
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: 20px;
  /* padding which provides space is applied to the top, margin is also applied to the right side
   the element will float to the right of the webpage. the font size and font family for the text is
   set*/
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
  /* the navbar text is made into a an unordered list which is not numbered but li will affect the 
  individual list.  */
}

a {
  color: #ffffff;
  text-decoration: none;
  /* when a hyperlink is available the defualt is for the text to be underlined and coloured, text-decoration set
  to none removes that and makes it look like an ordinary text, colour for the text is set.*/
}

p {
  font-size: 16px;
  /* font for all p element is set to 16px */
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
  /* the height of the all the content within is set as well as the width and the margin-bottom is set to 25px
  background image of the content is linked to the image folder, the size of the background is set to cover the webpage but the postion is centered */
}

.float-left {
  float: left;
  margin-right: 25px;
  /* image floats to the left with a margin space to the right */
}

.float-right {
  float: right;
  margin-left: 25px;
  /* image floats to the right with a margin to the left. */
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
  /* the content of this element will set to a width of 75% of it's original size.
  content will respect the margin and padding with a margin to the left. */
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  background-color: #2589bd;
  /* margin space to the right along with padding around the element, clear will determine what happens next to the element, width and height are applied
  to the content, font family so the text looks a certain way and background colour for the content.  */
}

/* Below "side-panel" was originally named "content" it was bundled together to cut  
away excess code and renamed because the CSS is tied to the block at the side of the
webpage*/

.side-panel {
  margin-bottom: 32px;
  color: #ffffff;
  /* This creates a margin at the bottom of the side-panel to give space between the 
  bottom of the page and the side-panel, the color gives colouring to the panel which gives
  the text colouring*/
}

.side-panel h3 {
  margin-bottom: 10px;
  text-align: center;
  /* This centres the text within the side panel and creates a margin for the text */
}

.side-panel img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
  /* This displays the image as a block and creates a margin, 
  auto tells the browser to calculate the margin length and max-width tells the browser
  the max width the image can be*/
}

.main-panel {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  /* Margin bottom, gives margin for main panel at 20px, padding 50px forces space around
  the main panel, height 300px sets the height of main panel, font family gives a selection
  of fonts to be used, background color gives colour to the main panel and the color
  gives colour to the text*/
}

.main-panel img {
  max-height: 200px;
  /* the image in the main panel will be at a max height of 200px */
}

.main-panel h2 {
  margin-bottom: 20px;
  font-size: 36px;
  /* margin for the bottom of the h2 text is 20px, the font size is 36px */
}

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  /* footer is for the content at the bottom of the page, padding gives the footer space
  at 30px, clear determines what happens to an element that is next to a floating element */
}

.footer h2 {
  font-size: 20px;
  /* the h2 text will be a size of 20px */
}
